
.fwe.form-control, .fwe.form-select {
  &:focus {
    border-bottom: 2px solid $secondary;
  }
  &.is-valid {
    border-bottom: 2px solid $success;
  }
  &.is-invalid {
    border-bottom: 2px solid $danger;
  }
  box-shadow: none;
  background-image: none;
}
