<div class="card">
  <div class="card-body">
    <form (submit)="onSubmit($event)" >
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              [field]="powerOutputForm.flowRate"
              type="number"
              class="form-control"
              id="flowRate"
              placeholder=" "
              [class.is-invalid]="!powerOutputForm.flowRate().valid()"
              [class.is-valid]="powerOutputForm.flowRate().valid()"
            />
            <label for="flowRate" class="form-label">Flow Rate</label>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-floating form-select-floating">
            <select
              [field]="powerOutputForm.flowRateUnit"
              class="form-select"
              id="flowRateUnit"
              placeholder=" "
              [class.is-invalid]="!powerOutputForm.flowRateUnit().valid()"
              [class.is-valid]="powerOutputForm.flowRateUnit().valid()"
            >
              @for (fru of flowRateUnits; track fru.value){
              <option value="{{fru.value}}">{{fru.label}}</option>
              }
            </select>
            <label for="flowRate" class="form-label">Flow Rate Unit</label>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <p><a [routerLink]="['flow-rate']">How to determin flow rate</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              [field]="powerOutputForm.headerHeight"
              type="number"
              [class.is-invalid]="!powerOutputForm.headerHeight().valid()"
              [class.is-valid]="powerOutputForm.headerHeight().valid()"
              class="form-control"
              id="headHeight"
              placeholder=" "
            />
            <label for="headHeight" class="form-label">Head Height</label>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-floating form-select-floating">
            <select
              [field]="powerOutputForm.headerHeightUnit"
              class="form-select"
              id="headerHeightUnit"
              [class.is-invalid]="!powerOutputForm.headerHeightUnit().valid()"
              [class.is-valid]="powerOutputForm.headerHeightUnit().valid()"
            >
              @for (hhu of headerHeightUnits; track hhu.value){
              <option value="{{hhu.value}}">{{hhu.label}}</option>
              }
            </select>
            <label for="flowRate" class="form-label">Head Height Unit</label>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <p><a href="">How to determin head height</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              [field]="powerOutputForm.efficiency"
              type="number"
              class="form-control"
              id="efficiency"
              placeholder=" "
              [class.is-invalid]="!powerOutputForm.efficiency().valid()"
              [class.is-valid]="powerOutputForm.efficiency().valid()"
            />
            <label for="efficiency" class="form-label"
              >Turbine Efficiency (%)</label
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <p>The real-world output is usually lower due to:</p>
          <ul>
            <li>Turbine efficiency</li>
            <li>Generator efficiency</li>
            <li>Friction losses in pipes</li>
          </ul>
          <p>
            Using the efficiency factor above accounts for this roughly. This
            can vary from 50 to 80 percent.
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-lg shadow"
        
      >
      <!-- [class.btn-success]="powerOutputForm.valid()" -->
        Calculate Power Output
      </button>
    </form>
  </div>
</div>

