<div class="container">
  <!-- <div class="row">
    <div class="col">
      <app-water-text [text]="'Falling water'"></app-water-text>
    </div>
  </div> -->
  <div class="row">

    <div class="col-9">
      <h1 class="display-1 my-4">
        <img src="falling-water-logo2.svg" alt="logo" style="height: 96px">
        Falling water</h1>
      <p class="mx-4 my-2">
        <strong>falling-water.energy</strong> designs and builds micro-hydro power systems that turn flowing water into dependable,
        clean electricity. We specialize in efficient, small-scale solutions that work with nature instead of against
        it—using existing streams, elevation changes, and infrastructure to generate power with minimal environmental
        impact. Whether for remote sites, resilient homes, or off-grid projects, our systems are engineered for
        durability, performance, and long-term sustainability, delivering renewable energy where it matters most.

      </p>
    </div>
    <div class="col-3">
      <img src="image.png" alt="water turbine" class="img-fluid my-4" />
    </div>
  </div>
  <div class="row" [class.slide-out-top]="showForm()">
    <div class="col text-center my-4">
      <button class="btn btn-lg btn-success shadow" (click)="toggleForm()">
        Calculate power output
      </button>
    </div>
  </div>

  @if (showForm() && !powerOutput()) {
    <app-builder (result)="powerOutput.set($event)"></app-builder>
  }
  @if (powerOutput()) {
    <app-system-options [estimatedPower]="powerOutput()!"></app-system-options>
  }
</div>
